/**
	OPENGEEK CSS
	@AlvaxVargas 2019 OpenGeek
	Estilos generales del sitio
        002554
**/
/* Colores Principales */
:root {
	--naranjo_principal: #F84848;

	--azul_claro: #314A6E;
	--azul_texto: #2B637F;
	--azul_oscuro: #122538;
	--gris_principal: #EEEEEE;
	--gris_claro: #F1F1F1;
	--gris_oscuro: #707070;
	--gris_texto: #8C9091;
	--negro: #182D4F;
	--rojo: #CC3E43;
	--rojo_oscuro: #720B0F;
	--celeste: #F8F8F8;
	--claro1: #A5CADE;
	--borde-resultado: #9FB4CA;
	--valor-resultado: #73A5C0;
}

* {
	box-sizing: border-box;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* Fixes */

/* Generales */

/* Fuentes */
@font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: GoudyRegular;
    src: url('../fonts/tipografagoudy/GoudyOldStyleRegular.ttf');
}
@font-face {
    font-family: GoudyBold;
    src: url('../fonts/tipografagoudy/GoudyOldStyleBold.ttf');
}
@font-face {
    font-family: LatoLight;
    src: url('../fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: LatoLightItalic;
    src: url('../fonts/lato/Lato-LightItalic.ttf');
}
@font-face {
    font-family: LatoRegular;
    src: url('../fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: LatoMedium;
    src: url('../fonts/lato/Lato-Medium.ttf');
}
@font-face {
    font-family: LatoMediumItalic;
    src: url('../fonts/lato/Lato-MediumItalic.ttf');
}
@font-face {
    font-family: LatoBold;
    font-family: LatoBold;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

img.libro {
    height: 168px;
}

/* Encabezado */
header {
	margin-bottom: -150px;
}
header .navbar-default {
    background-color: var(--azul_claro);
}
#brand {
	display: flex;
    align-items: center;
}
#logo  {
	background-color: var(--azul_oscuro);
}
#logo.transparent {
	background: none;
}
header .navbar-brand img.logo {
    height: 100px;
}
.navbar-brand {
    height: 150px;
	display: flex;
	align-items: center;
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}
#title {
    text-transform: uppercase;
	margin-left: 20px;
	color: white;
}
#title .repositorio {
	font-size: 42px;
	font-family: LatoRegular;
}
#title .banco {
	font-size: 22px;
	font-family: LatoRegular;
	text-align: left;
}
/* Menus */
#topbar {
	display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-end;
}
#menu-principal {
	font-size: 14px;
	font-family: LatoRegular;
	list-style: none;
    display: flex;
    text-transform: uppercase;
	margin-bottom: 0;
}
#menu-principal li {
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
}
#menu-principal li:active,
#menu-principal li:hover,
#menu-principal li:focus {
	color: white;
    background-color: var(--naranjo_principal);
}
#menu-principal a {
	color: black;
	text-decoration: none;
}
/* Language Selection */
#languageSelection {
	width: fit-content;
	border-radius: 5px;
	list-style: none;
	display: flex;
}
#languageSelection span {
	font-size: 10px;
}
#languageSelection button {
	background: none;
    border: none;
}
#languageSelection .flag {
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	 -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	 -webkit-filter: grayscale(100%);
	 filter: gray;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#languageSelection .flag:active,
#languageSelection .flag:hover,
#languageSelection .flag:focus {
	filter: none;
}
#languageSelection .flag.en {
	width: 20px;
	height: 20px;
	background: url(../images/portada/en.png) no-repeat center center;
	background-size: contain;
}
#languageSelection .flag.es_ES {
	width: 20px;
	height: 20px;
	background: url(../images/portada/es.png) no-repeat center center;
	background-size: contain;
}
/* Menu emergente de la portada */
#sidebar-left {
	width: 100%;
	padding: 0;
	padding-bottom: 20px;
	display: none;
	position: absolute;
}
#menu-sidebar {
	font-size: 14px;
    font-family: LatoRegular;
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
#menu-sidebar li {
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	float: left;
	
}
#menu-sidebar li:active,
#menu-sidebar li:hover,
#menu-sidebar li:focus {
	color: white;
    background-color: var(--naranjo_principal);
}
#menu-sidebar a {
	color: black;
	text-decoration: none;
}
header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #aaa;
}
/* Botón de Login */
header .navbar-default .navbar-toggle>li,
header .navbar-default .navbar-nav>li {
	border-radius: 5px;
}
header .navbar-default .navbar-toggle>li>a,
header .navbar-default .navbar-nav>li>a {
	font-family: LatoRegular;
	color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
}
header .navbar-default .navbar-toggle>li>a>span,
header .navbar-default .navbar-nav>li>a>span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
header .navbar-default .navbar-toggle>li>a:hover, 
header .navbar-default .navbar-toggle>li>a:focus, 
header .navbar-default .navbar-nav>li>a:hover, 
header .navbar-default .navbar-nav>li>a:focus {
	color: white;
    background-color: var(--azul_oscuro);
	border-radius: 5px;
}
.navbar-nav>li>a {
    padding: 10px 15px;
}
/* Buscador (antes: miga de pan) */
.trail-wrapper {
    background-color: var(--gris_principal);
    border: none;
}
#buscador {
	padding: 30px 150px 40px;
	display: flex;
}
#buscador form {
	width: 100%;
}
#searcher {
	font-size: 28px;
	font-family: LatoLightItalic;
	background: none;
    border: none;
    box-shadow: none;
    color: black;
}
#searcher::-webkit-input-placeholder  {
	color: black !important;
	font-family: LatoLightItalic;
	opacity: 1;
}
#searcher::-ms-input-placeholder {
	color: black !important;
	font-family: LatoLightItalic;
	opacity: 1;
}
#searcher::-moz-placeholder {
	color: black !important;
	font-family: LatoLightItalic;
	opacity: 1;
}
#searcher::placeholder {
	color: black !important;
	font-family: LatoLightItalic;
	opacity: 1;
}
#buscador .input-group {
    border-bottom: 1px solid black	;
}
#buscador .form_container {
	width: 100%;
	display: flex;
	align-items: center;
}
#buscador .form_container form {
	width: 100%;
}
#buscador .avanzada {
	min-width: 150px;
	display: flex;
    align-items: flex-end;
    justify-content: center;
}
#buscador .avanzada a {
	color: var(--claro1);
	font-size: 16px;
	font-family: LatoLightItalic;
}
#btnsearcher {
	background: none;
	border: none;
	color: black;
}

/* Lista de resultados */
#aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item {
	margin: 10px 0 10px;
}
.metadata {
	width: 100%;
    display: flex;
    align-items: flex-start;
	margin-bottom: 10px;
}
.resultado,
.ds-artifact-list li {
	/*border: 1px solid var(--borde-resultado);*/
	border-radius: 16px;
	padding: 15px 10px;
	display: flex;
}
.resultado:active,
.resultado:hover,
.resultado:focus,
.ds-artifact-list li:active,
.ds-artifact-list li:hover,
.ds-artifact-list li:focus {
	background-color: #F8F8F8;
}
.resultado .thumbnail img {
    width: 150px;
    border-radius: 15px;
    border: none;
}
.resultado .portada {
	width: 150px;
	padding: 0;
}
.resultado .artifact-description {
    width: calc(100% - 160px);
    padding: 0;
    margin-left: 10px;
}
.resultado .result-label {
	color: var(--gris_texto);
	font-family: LatoLight;
	margin-right: 10px;
}
.resultado .result-value,
.resultado .result-value a {
	color: var(--valor-resultado);
	font-family: LatoMedium;
	font-size: 16px;
}
.resultado .abstract {
	color: var(--gris_oscuro);
	/*font-family: OpenSansRegular;*/
	font-size: 14px;
	margin-top: 10px;
}
/* iframe */
#target-div {
	border: none;
	height: 2200px;
}
/* Pie de Pagina */
#footer {
	background: #333;
    padding: 60px 40px;
}
#footer .mt-5 {
    margin-top: 40px;
}
#footer p {
    font-size: .8em;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}
#footer .row>div {
    border: none;
    padding: 0;
}
#footer .logo {
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: white;
}
#footer .fono {
    padding: .3em;
    border: #fff 2px solid;
    border-radius: 3em;
    max-width: 300px;
}
/* Implementado por */
#opengeek {
	margin-top: 5px;
	display: none;
}
#opengeek  img.opengeek{
	max-height: 15px;
	margin-left: 10px;
}

/* PORTADA */
#navportada {
	background-color: white;
}
#navportada.blue {
	background-color: var(--azul_claro);
}
#banner {
	width: 100%;
	margin-top: 340px;
    position: relative;
}
#back-image {
	background: url(../images/banner_sm.jpg) no-repeat center;  
	background-size: cover;
    width: 100%;
	height: 520px;
	position: relative;
	/*filter: blur(4px);
	-webkit-filter: blur(4px);*/
	opacity: 0.8;
}
#slider {
	background-color: white;
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 210px;
}
hr.header {
	border-color: #f84848;
    border-width: 3px;
	max-width: 1100px;
}
#articulos {
    display: flex;
    align-items: center;
	width: 100%;
    height: 100%;
	padding: 0 15px;
}
.articulo {
	width: 100%;
    position: relative;
}
.articulo .imagen {
	width: 180px;
    height: 200px;
    float: left;
}
.articulo .imagen .contenedor_imagen {
	position: relative;
}
.articulo .imagen .fondo_portada {
	border-radius: 7px;
	opacity: 0.5;
	width: 110px;
    height: 160px;
	position: absolute;
    top: -20px;
}
.articulo .imagen .portada {
	background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    width: 130px;
    height: 180px;
    position: absolute;
    top: -20px;
    left: 0px;
}
.articulo .imagen .portada img {
	width: 100%;
	height: 100%;
}
.articulo .informacion {
	color: black;
	padding: 20px;
	text-align: left;
}
.articulo .titulo {
	font-size: 32px;
	margin-bottom: 20px;
    text-align: center;
	/*font-family: LatoMedium;*/
}
.articulo .titulo a { 
color: white;
}
.articulo .bajada {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
	/*font-family: LatoRegular;*/
}
.articulo .ver {
	font-size: 14px;
	/*font-family: LatoMedium;*/
	text-align: center;
	width: 90px;
	height: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	color: white;
	background-color: var(--rojo);
	border: 1px solid var(--rojo);
	border-radius: 5px;
	cursor: pointer;
}
.articulo .ver:active,
.articulo .ver:focus,
.articulo .ver:hover {
	background: #FFFFFF83;
	color: var(--rojo);
}


/* Contenido central */
#midblock {
	display: flex;
}
#main-content {
	width: calc(100% - 220px);
	padding: 0;
	margin-bottom: 40px;
}
#main-container .row-offcanvas {
    background-color: transparent;
}
#breadcrumb {
	padding: 10px 30px;
}
.breadcrumb {
	background: none;
	/*font-family: LatoLight;*/
	margin-bottom: 0;
}
#main-block {
	padding: 10px 40px;
}
.seccion {
	padding: 0 20px;
	text-align: left;
}
.seccion.home {
	padding: 20px;
}
.seccion-header {
	margin-top: 15px;
}
.seccion .titulo {
	font-size: 20px;
	/*font-family: LatoBold;*/
	letter-spacing: 0;
	color: #73A5C0;
	opacity: 1;
}
.seccion .listado {
	font-size: 14px;
	/*font-family: LatoRegular;*/
	list-style: none;
    padding: 10px 0px;
	color: #707070;
}
.seccion .listado li {
	margin-bottom: 5px;
}
.seccion .listado li a {
	color: var(--gris_oscuro);
}
.seccion .listado li:active > a,
.seccion .listado li:hover > a,
.seccion .listado li:focus > a {
	color: var(-rojo);
	text-decoration: none;
}
#midcontent {
	width: 100%;
	padding: 40px;
}
/* Colecciones */
#colecciones {
	margin-bottom: 60px;
}
#colecciones .titulo {
	font-size: 32px;
    text-align: center;
	color: black;
}
#colecciones a {
	text-decoration: none;
}
.coleccion_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.coleccion {
	border: 1px solid #000;
	border-radius: 30px;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	max-width: 280px;
	min-width: 160px;
	height: 200px;
	margin: 0 10px 20px 10px;
}
.coleccion:active,
.coleccion:hover,
.coleccion:focus, 
.coleccion:active > .nombre, 
.coleccion:active > .recursos,
.coleccion:hover > .nombre, 
.coleccion:hover > .recursos,
.coleccion:focus > .nombre, 
.coleccion:focus > .recursos {
	border: 1px solid var(--naranjo_principal);
	background-color: var(--naranjo_principal);
	color: white;
}
.coleccion .imagen {
	width: 60px;
	min-height: 80px;
	opacity: 1;
	margin-bottom: 10px;
}
.coleccion.articulos .imagen {
	background: url(../images/iconos/articulos-black.svg) no-repeat center center;
}
.coleccion.revistas .imagen {
	background: url(../images/iconos/revistas-black.svg) no-repeat center center;
	margin-bottom: 0px;
}
.coleccion.tesis .imagen {
	background: url(../images/iconos/tesis-black.svg) no-repeat center center;
}
.coleccion.otros .imagen {
	background: url(../images/iconos/otros-black.svg) no-repeat center center;
}
.coleccion.articulos:active .imagen,
.coleccion.articulos:hover .imagen,
.coleccion.articulos:focus .imagen {
	background: url(../images/iconos/articulos-white.svg) no-repeat center center;
}
.coleccion.revistas:active .imagen,
.coleccion.revistas:hover .imagen,
.coleccion.revistas:focus .imagen {
	background: url(../images/iconos/revistas-white.svg) no-repeat center center;
}
.coleccion.tesis:active .imagen,
.coleccion.tesis:hover .imagen,
.coleccion.tesis:focus  .imagen {
	background: url(../images/iconos/tesis-white.svg) no-repeat center center;
}
.coleccion.otros:active .imagen,
.coleccion.otros:hover .imagen,
.coleccion.otros:focus .imagen {
	background: url(../images/iconos/otros-white.svg) no-repeat center center;
}
.coleccion .nombre {
	color: black;
	font-size: 18px;
	/*font-family: LatoRegular;*/
	margin-bottom: 5px;
	text-align: center;
}
.coleccion .nombre.small {
	font-size: 18px;
}
.coleccion .recursos {
	text-align: center;
	font-size: 14px;
	/*font-family: LatoLightItalic;*/
	color: var(--rojo);
}
.listado_colecciones {
	margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    margin: 0 10px 20px 10px;
}
.listado_colecciones ul {
	list-style: none;
	text-align: left;
    padding: 0 10px;
}
.listado_colecciones ul li {
	margin-bottom: 5px;
}
.listado_colecciones ul li a {
	color: black;
}
.listado_colecciones ul li:active,
.listado_colecciones ul li:hover,
.listado_colecciones ul li:focus {
	text-decoration: underline;
}
/* Carrusel */
.coleccion_carrousel {
	width: 100%;
}
.slides {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
}
.slides.titulacion .coleccion {
	width: 280px;
}
.slides.revistas .coleccion {
	width: 210px;
}
.slides.revistas .coleccion .nombre {
	font-size: 20px;
}
/* Envios recientes */
#recientes {
	margin-bottom: 80px;
}
.ds-artifact-item .artifact-preview,
.artifact-preview {
	margin-right: 15px;
	width: 150px;
	min-width: 150px;
	background: none;
}
.artifact-preview .thumbnail {
	background: none;
}
.artifact-preview .thumbnail img {
    width: 150px;
    border-radius: 15px;
    border: none;
}
.documento_container {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 20px;
}
.documento_container a {
	text-decoration: none;
}
.documento {
	display: flex;
	width: 100%;
    padding: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 11px;
}
.documento:active,
.documento:hover,
.documento:focus,
.documento:active > .informacion .titulo,
.documento:hover > .informacion .titulo,
.documento:focus > .informacion .titulo,
.documento:active > .informacion .metadata,
.documento:hover > .informacion .metadata,
.documento:focus > .informacion .metadata,
.documento:active > .informacion .descripcion,
.documento:hover > .informacion .descripcion,
.documento:focus > .informacion .descripcion {
	background-color: var(--rojo);
	color: white;
}
.documento .portada {
	min-width: fit-content;
    min-height: fit-content;
    background: #8C9091 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 0.37;
	overflow: hidden;
}
.documento .informacion {
	margin-left: 15px;
}
.documento .titulo {
	text-align: left;
	font-size: 18px;
	/*font-family: LatoMedium;*/
	color: var(--azul_texto);
	margin-bottom: 5px;
}
.documento .metadata {
	text-align: left;
	font-size: 14px;
	/*font-family: LatoLightItalic;*/
	color: var(--rojo_oscuro);
	margin-bottom: 5px;
}
.documento .descripcion {
	text-align: left;
	font-size: 13px;
	/*font-family: Open Sans, Regular;*/
	color: var(--gris_oscuro);
}
#recientes .ver {
	font-size: 14px;
	/*font-family: LatoMedium;*/
    text-align: center;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--naranjo_principal);
    border: 1px solid var(--naranjo_principal);
	color: white;
	cursor: pointer;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.button_container {
	position: relative;
}
#recientes .ver:active,
#recientes .ver:hover,
#recientes .ver:focus {
	background-color: white;
	color: var(--rojo);
}
/* Titulos */

.titulo_container {
	width: 100%;
	border-bottom: 3px solid #F84848;
	margin-top: 60px;
    margin-bottom: 60px;
	position: relative;
}
.titulo_portada {
	font-size: 24px;
	font-weight: 700;
    letter-spacing: 0;
    color: var(--naranjo_principal);
    width: fit-content;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 0px 50px;
}

/* Barras laterales */
#sidebar-right {
	width: 200px;
	background-color: white;
}
a.list-group-item {
    color: var(--gris_oscuro);
}
.list-group-item {
	border: none;
	background: none;
	padding: 0px 20px 5px;
}
.list-group-item.active .list-group-item-heading {
	font-size: 20px;
	/*font-family: LatoBold;*/
	letter-spacing: 0;
	color: #73A5C0;
	opacity: 1;
	opacity: 1;
}
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
	background: none;
	color: var(--azul_texto);
}
span.h5 {
	font-size: 18px;
    /*font-family: LatoBold;*/
    letter-spacing: 0;
    color: #73A5C0;
    opacity: 1;
	padding: 0 20px;
}
/* Subtitulo sidebar */
span.h6 {
	font-size: 20px;
    /*font-family: LatoBold;*/
    letter-spacing: 0;
    color: #73A5C0;
    opacity: 1;
	padding: 0 20px;
}
#ds-options {
    padding-top: 60px;
}
#ds-options .ds-option-set-head {
    display: none;
}
#aspect_viewArtifacts_Navigation_list_browse,
#aspect_viewArtifacts_Navigation_list_account {
	display: none;
}
/* Listado de comunidades */
.community-browser-row p {
    font-size: 12px;
}

/* VISTA DEL REGISTRO */
#record {
	display: flex;
    flex-wrap: wrap;
}
#record .left {
	width: 70%;
}
#record .tipo-documento {
	text-align: left;
	/*font-family: LatoLight;*/
	font-size: 16px;
	letter-spacing: 0;
	color: #314A6E;
}
#record .titulo h2 {
	text-align: left;
	/*font-family: LatoLight;*/
	font-size: 34px;
	color: #314A6E;
	padding: 0;
}
#record .autor > div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#record .autor span,
#record .autor h5,
#record .uri h5,
.simple-item-view-authors h5,
.simple-item-view-collections h5,
#record .descargas h5,
.simple-item-view-show-full h5 {
	text-align: left;
	/*font-family: LatoLight;*/
	font-size: 16px;
	color: #8C9091;
	margin: 0 10px 0 0;
	min-width: fit-content;
}
.simple-item-view-authors,
.simple-item-view-show-full,
.simple-item-view-uri {
	display: flex;
	align-items: flex-start;
}
.simple-item-view-authors div {
	margin-right: 10px;
}
#record .autor label,
#record .autor div,
.simple-item-view-authors div,
.simple-item-view-authors div  a {
	text-align: left;
	/*font-family: LatoMedium;*/
	font-size: 16px;
	color: #73A5C0;
        display: flow-root;
}
#record .resumen {
	text-align: left;
	/*font-family: LatoRegular;*/
	font-size: 15px;
	color: #314A6E;
	margin-top: 20px;
    margin-top: 20px;
}
.item-page-field-wrapper {
    margin-bottom: 0;
}
#record .temas {
	margin-bottom: 20px;
	margin-top: 10px;
}
#record .ispartofseries {
	margin-bottom: 20px;
	margin-top: 10px;
}
#listado-series {
	display: flex;
    flex-direction: column;
}
.simple-item-view-collections {
	display: flex;
    align-items: flex-start;
}
#record .coleccion {
	height: fit-content;
    border-radius: 15px;
	padding: 10px 20px;
	margin-bottom: 10px;
}
#record .coleccion a {
	color: var(--azul_texto);
	font-size: 17px;
	/*font-family: LatoLight;*/
	word-break: initial;
}
#record .coleccion ul {
	text-align: center;
	margin: 0;
}
#record .coleccion:active > ul li a,
#record .coleccion:hover > ul li a,
#record .coleccion:focus > ul li a,
#record .coleccion a:active,
#record .coleccion a:hover,
#record .coleccion a:focus {
	text-decoration: none;
	color: white;
}
#record .descargas {
	margin-top: 10px;
	margin-bottom: 20px;
}
#record .descargas .item-page-field-wrapper {
	display: flex;
}
#record .descargas a {
	padding: 10px 20px;
    border-radius: 14px;
	color: var(--azul_texto);
	font-size: 16px;
	/*font-family: LatoRegular;*/
	border: 1px solid #D1DCDD;
	line-height: 40px;
}
#record .descargas a:active,
#record .descargas a:hover,
#record .descargas a:focus {
	border: 1px solid var(--rojo);
    background-color: var(--rojo);
    color: white;
	text-decoration: none;
}
#record .uri {
	margin-bottom: 10px;
}
#record .metadatos {
	margin-top: 20px;
}
#record .uri span a,
.simple-item-view-show-full a {
	text-align: left;
    /*font-family: LatoMedium;*/
    font-size: 16px;
    color: #73A5C0;
}
#record .rrss {
	display: flex;
    justify-content: flex-end;
}
#record .at-resp-share-element .at-share-btn .at-label {
	display: none;
}
#record .right {
	padding: 30px 0;
    margin: 0 auto;
	width: calc(30% - 20px);
    margin-left: 20px;
}
#record .portada .thumbnail > img {
    width: 200px;
    border: 0;
}
#record .linea-item {
	border-bottom: 1px solid #eee;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Estilos para tab de Actas */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #314A6E;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #314A6E;
}
.tab button:hover {
  background-color: #73A5C0;
  color: white;
}
.tab button.active {
	background-color: #314A6E;
	color: white;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 12px 6px;
  border: 1px solid #314A6E;
  border-top: none;
}
#descripcion.tabcontent {
	display: block;
}

/* Slider */
.rec-arrow {
	background-color: var(--gris_principal) !important;
}
.rec-arrow:hover {
	background-color: var(--naranjo_principal) !important;
	color: white;
}
.rec-dot_active {
	background-color: rgba(248,72,72,.5) !important;
	box-shadow: 0 0 1px 3px rgb(248,72,72) !important;
}